
@model bool

<title>Parking Space Availability Map</title>

<div id="container">

    <div id="toolbar">
        Parking Space
        <span class="thick"> Availability Map</span>
        <sub>BETA</sub>
    </div>

    @if (!Model)
    {
    <div id="subToolbar">
        <a href="#">Home</a> |
        <a href="#">Find Lots</a> |
        <a href="#">About</a> |
        <a href="#">Contact</a> |
        <a href="#">More...</a>
    </div>
    }

    <div id="content">
        <div id="lotTitle">
            Exchange Street Deck <span class="faded">(Lot 39)</span>
            <div id="total">10/10</div>
        </div>

        <div id="capacity"></div><div id="capacity-neg"></div>

        <div id="lotContainer">
            <img id="map" src="~/Images/map2.png" />
            <div id="Lot"></div>
        </div>
    </div>

    <div id="footer">Copyright © 2016 - ECE Design Team M</div>

</div>

<script>GetLotURL = '@Url.Action("GetLot", "Home")'; </script>
<script src="~/Scripts/Lot.js"></script>
