<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,700' rel='stylesheet' type='text/css'>

    @*<script src="~/Scripts/bootstrap.js"></script>*@
    <script src="~/Scripts/Plugins/jquery-1.10.2.js"></script>
    @*<script src="~/Scripts/Plugins/jquery-1.10.2.intellisense.js"></script>*@
    @*<script src="~/Scripts/Plugins/jquery-ui-1.11.4.js"></script>*@
    <script src="~/Scripts/Plugins/jquery.signalR-2.1.2.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <title>Parking Space Availability Map</title>
</head>

<body>
    <div id="container">

        <div id="toolbar">
            Parking Space
            <span class="thick"> Availability Map</span>
            <sub>BETA</sub>
        </div>

            <div id="subToolbar">
                <a href="#">Home</a> |
                <a href="#">Find Lots</a> |
                <a href="#">About</a> |
                <a href="#">Contact</a> |
                <a href="#">More...</a>
            </div>
 
        <div id="content">
            @RenderBody()
        </div>

        <div id="footer">Copyright © 2016 - ECE Design Team M</div>

    </div>
</body>
</html>