
<link href="~/Content/About.css" rel="stylesheet" />

<div id="about-container">
    <div>
        <div class="page-title">About</div>
        <div class="page-content">
            &emsp; The objective of this project is to create a parking space availability map to determine the locations of open or closed parking spots using ultrasonic sensors. The map will assist drivers who are in need of parking and help them find a spot in a timely manner instead of driving around aimlessly hoping to find an open space. The parking lot layout showing available/unavailable spaces will be shown on an LCD display screen at the entrance of a parking lot and can also be accessed using a mobile application.
        </div>

        <img id="cars" src="~/Images/cars.png" />

        <div id="people">
            Andrew Bohan – Hardware Manager
            Matt Morgan – Software Manager
            Ruben Rodriguez – Archivist
            Joseph Vavro – Project Leader
        </div>
    </div>
</div>