
@model int

<div id="lotTitle">
    Exchange Street Deck <span class="faded">(Lot 39)</span>
    <div id="total">10/10</div>
</div>

<div id="capacity"></div><div id="capacity-neg"></div>

<div id="lotContainer">
    <img id="map" src="~/Images/map2.png" />
    <div id="Lot"></div>
</div>

<script>GetLotURL = '@Url.Action("GetLot", "Api")'; </script>
<script>mode = '@Model' </script>
<script src="~/Scripts/Lot.js"></script>
